<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is a heading</h1>
    <img src="./Amit.jpg" alt="" />
    <ul>
      <li>Lorem.</li>
      <li>Repellat.</li>
      <li>Ipsa!</li>
      <li>Distinctio.</li>
      <li>Vel?</li>
    </ul>
    <div>
      <article>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur
          corporis asperiores autem, ipsa rem, odit beatae rerum eum soluta
          nobis quis maiores. Pariatur excepturi quae officiis odio sequi
          consectetur officia, ipsam mollitia harum. Eligendi, quo, ullam non
          consequatur numquam aspernatur veniam dicta veritatis dolorum autem
          aliquid deleniti! Dicta, sit beatae!
        </p>
      </article>
      <article>
        <h1>Autem placeat molestiae blanditiis rerum?</h1>
        <p>
          Dolores magni corporis possimus quidem delectus numquam corrupti,
          saepe laborum, quaerat pariatur mollitia rem porro nihil quo iusto
          fugit quibusdam ipsam, reiciendis eveniet similique a ad! Amet,
          provident reiciendis dolor mollitia accusamus accusantium molestiae et
          exercitationem excepturi in incidunt vitae modi nemo voluptate ea
          ullam ipsa deleniti odio temporibus dicta.
        </p>
      </article>
      <article>
        <h1>Non animi excepturi accusamus distinctio?</h1>
        <p>
          Facere asperiores dignissimos aut aliquid itaque natus aspernatur,
          eaque nesciunt numquam minus quam incidunt accusamus velit eveniet.
          Iure similique, aperiam doloribus excepturi officia id, et doloremque
          dignissimos nemo exercitationem eos debitis neque reprehenderit quae
          nam blanditiis perferendis pariatur. Voluptatem quibusdam perspiciatis
          expedita, unde ad obcaecati ipsum error delectus magni voluptatum?
        </p>
      </article>
      <article>
        <h1>Magnam illum ea voluptates explicabo!</h1>
        <p>
          Quibusdam numquam aspernatur eum quam nam adipisci est mollitia
          necessitatibus ea atque suscipit ducimus velit expedita placeat
          reiciendis rerum ipsa aperiam excepturi quisquam quasi debitis
          pariatur, cupiditate explicabo porro. Tempora iusto porro, optio
          eveniet adipisci quaerat ducimus odio aperiam nihil molestias
          similique corrupti dolores voluptatum itaque quo vitae cum rem.
        </p>
      </article>
      <article>
        <h1>Facere et id praesentium amet!</h1>
        <p>
          Ipsa, nihil minus molestias rerum quia sit quasi dolorum quam, nisi
          velit molestiae corporis tempora laborum, saepe repudiandae eligendi
          ullam libero. Veritatis itaque, quia deleniti voluptatem sed quos
          aliquam. Tempore culpa ab, recusandae asperiores tenetur nesciunt
          inventore consectetur maiores, minima delectus iure eius quasi
          similique repudiandae quae suscipit dolor labore.
        </p>
      </article>
    </div>
  </body>
</html>
