<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      Open Developer Tools and see the console for the output (Ctrl+Shift+I)
    </h1>
    <script>
      console.log("This is the simple Javascript message");
      var heading = document.querySelector("h1");
      console.log(heading);
      heading.style.color = "red";
      heading.style.fontFamily = "system-ui";

      heading.innerHTML = "<em> Changed</em> with javascript";
    </script>
  </body>
</html>
