<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- FontAwesome 6.2.0 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- (Optional) Use CSS or JS implementation -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
      integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>

  <body>
    <header>
      <!-- place navbar here -->
    </header>
    <main>
      <div class="container">
        <div class="row">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea fugit,
          vitae velit numquam dolorem architecto in! Perferendis ipsam possimus,
          exercitationem odio delectus placeat, tempore dolores rem sunt ullam
          minus commodi?
        </div>
        <div class="row">
          <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
            numquam facilis aliquam, recusandae alias dolorem blanditiis
            voluptas consequatur totam enim, tempore, dolorum a minima expedita
            tempora quasi cum nesciunt voluptatum?
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col p-3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus quod quaerat non? Voluptatibus atque, eligendi optio
            voluptas impedit nam earum necessitatibus corrupti esse nihil aut,
            error voluptatum, laboriosam reprehenderit assumenda?
          </div>
          <div class="col p-3">
            Natus quae aperiam cumque qui facilis possimus dignissimos
            accusantium optio molestiae illum sint, sapiente explicabo alias
            nostrum labore reiciendis eius, iusto harum aliquid? Veritatis,
            dolore quisquam laborum odit suscipit aliquam!
          </div>
          <div class="col p-3">
            Eveniet, animi laboriosam! Nulla consequuntur facere nam tempore
            dolorem ullam, totam vitae consectetur quibusdam eligendi tempora,
            maiores quasi libero reprehenderit tenetur excepturi cupiditate,
            adipisci aperiam molestias repudiandae quaerat. A, illum.
          </div>
          <div class="col p-3">
            Quo soluta tempora alias in ipsum fugiat. Aliquam corrupti
            distinctio optio. Neque numquam eveniet dolorem, repudiandae
            accusamus dolores, facilis odio minus, consequuntur quia vitae
            officiis dolor ad maxime temporibus? Magni!
          </div>
          <div class="col p-3">
            Harum ut vel, quisquam suscipit molestias numquam commodi qui nobis
            nihil nam sed voluptatem aspernatur eveniet repudiandae temporibus.
            Laborum deleniti dolorem ab architecto, dolor ullam cumque qui
            repellendus quis ducimus!
          </div>
          <div class="col p-3">
            Fugiat ea doloribus aliquam autem tenetur dolore dolor fuga odio
            veniam temporibus. Adipisci distinctio ducimus ut amet obcaecati.
            Quo excepturi perferendis ea sint earum nisi autem non fugiat dicta
            cupiditate!
          </div>
          <div class="col p-3">
            Autem magni facere illo explicabo asperiores amet hic voluptas ab,
            rerum qui. Repellendus voluptatibus quae quos magni eaque cumque
            consectetur aliquam, cum animi nesciunt natus fuga placeat expedita
            ipsa nisi?
          </div>
          <div class="col p-3">
            Nostrum consequuntur, doloribus dicta repellendus voluptatem totam.
            Magni molestiae soluta provident fugit! Placeat commodi qui tenetur
            accusantium dolorum dolore. Eum dolores harum reprehenderit pariatur
            id! Sunt iure quos placeat itaque!
          </div>
          <div class="col p-3">
            Voluptatibus amet ipsa laborum consequatur id neque eius cumque
            suscipit vero nihil, repudiandae laudantium voluptates, voluptas
            earum deserunt modi nobis optio explicabo. Unde necessitatibus
            eveniet similique sed sunt officiis maiores.
          </div>
          <div class="col p-3">
            Provident eos alias repellat iure. Inventore architecto animi
            reprehenderit expedita eligendi natus blanditiis eius deleniti
            accusantium. Laborum reprehenderit nostrum, nisi commodi obcaecati
            exercitationem, labore deserunt provident quia dolore ratione qui.
          </div>
          <div class="col p-3">
            Aperiam exercitationem aliquid placeat unde cumque incidunt, fugit
            nulla fugiat cupiditate, perspiciatis aut quaerat maiores quis
            atque, illum dolore consequuntur? Nihil quas laborum reprehenderit
            nisi similique minima quaerat repellendus explicabo!
          </div>
          <div class="col p-3">
            Corporis recusandae ut provident iusto deleniti facilis omnis natus
            dolorum doloribus. Libero, neque reprehenderit debitis inventore
            vero ipsum necessitatibus sequi non aspernatur? Temporibus eos
            praesentium recusandae consequatur nisi iusto animi.
          </div>
          <div class="col p-3">
            Maiores assumenda aliquam inventore explicabo eius deserunt
            repellendus dolores ab incidunt eveniet quasi ut nulla, ratione
            voluptatem libero blanditiis beatae in placeat saepe nihil tempore?
            Ab, dolor odio? Corrupti, deserunt!
          </div>
          <div class="col p-3">
            Quisquam quod ullam provident perspiciatis vitae? Necessitatibus
            neque corporis velit animi ab perspiciatis modi. Quo natus minima
            veniam repellendus cumque dolorum explicabo hic ipsum laboriosam,
            saepe nisi vel distinctio ratione!
          </div>
          <div class="col p-3">
            Tenetur cupiditate id molestias sint esse doloribus, nostrum natus
            voluptatem, laboriosam minima perferendis maiores minus modi vero
            voluptatum praesentium earum aut aperiam aliquam perspiciatis quasi
            placeat architecto eos? Voluptates, minus.
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-lg-4 p-3">
            <div class="card">
                <img src="./bg2.jpg" alt="" class="">
              <div class="card-body">
                <h3>Lorem, ipsum dolor.</h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga
                  officia quos, ex distinctio tempore quo consequatur possimus
                  earum quisquam dolorem sint similique velit culpa? Quam illum
                  ipsa quo mollitia reprehenderit?
                </p>
                <button class="btn btn-primary">Lorem.</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Temporibus, ad architecto?</h3>
                <p>
                  Illum quo minima harum a beatae pariatur rerum accusamus
                  veniam praesentium earum voluptates quibusdam quis voluptatem
                  similique, fugit labore architecto veritatis alias dolore?
                  Quasi tempora exercitationem nobis? Dolores, consequuntur
                  provident.
                </p>
                <button class="btn btn-primary">Iure.</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>At, velit atque.</h3>
                <p>
                  Sequi voluptatem iure nihil quis dicta unde vero, veritatis
                  soluta pariatur omnis itaque corporis eveniet alias natus, ex
                  dolores temporibus harum est. Libero aliquid totam fuga nemo
                  ducimus et repellendus?
                </p>
                <button class="btn btn-primary">Temporibus?</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Iure, inventore similique.</h3>
                <p>
                  Voluptatem ducimus numquam doloribus, quis aliquid facere
                  laborum ad vel voluptate ipsa illum modi voluptates. A aliquid
                  vitae nostrum atque, minus tempore laborum, maiores non
                  delectus, quibusdam dolorum quidem corporis?
                </p>
                <button class="btn btn-primary">Magnam!</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Ullam, quam aliquid.</h3>
                <p>
                  Adipisci, eius rerum. Cupiditate cum voluptas blanditiis? Nemo
                  expedita odit earum facilis illo dolor illum debitis
                  necessitatibus sunt! Dolor id similique, minima quae accusamus
                  adipisci sapiente culpa architecto iure laboriosam!
                </p>
                <button class="btn btn-primary">Enim.</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Alias, magnam facere!</h3>
                <p>
                  Doloribus, sequi libero iure nostrum quisquam molestias,
                  dolorem, veniam necessitatibus officiis aperiam incidunt a!
                  Aperiam amet reiciendis laboriosam nam doloremque cum, sequi
                  cupiditate? Laborum nihil magnam sequi veniam esse. Voluptas.
                </p>
                <button class="btn btn-primary">Molestiae!</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Debitis, quae saepe.</h3>
                <p>
                  Facilis voluptatem omnis suscipit repellendus beatae saepe
                  consequatur sit perspiciatis nemo maxime dolorem sapiente vel
                  iste amet nisi possimus eos sint consectetur consequuntur,
                  alias ex est modi inventore ipsum! Quos!
                </p>
                <button class="btn btn-primary">Molestias.</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Sit, amet recusandae.</h3>
                <p>
                  Tempora, debitis pariatur ullam hic fugit possimus consequatur
                  quia alias voluptas id at ea a, sint ipsum cumque libero nihil
                  aliquid assumenda iste? Numquam eveniet dolor expedita, culpa
                  vitae distinctio?
                </p>
                <button class="btn btn-primary">Labore!</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Accusamus, voluptatibus aperiam?</h3>
                <p>
                  Temporibus inventore adipisci iure consequatur! Iusto
                  quibusdam nulla molestiae rerum repudiandae quam porro
                  exercitationem cupiditate, debitis praesentium illo libero,
                  fuga quis ea laboriosam, itaque dolorum reiciendis ad
                  necessitatibus adipisci eligendi!
                </p>
                <button class="btn btn-primary">Iure.</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Fuga, voluptatibus doloremque.</h3>
                <p>
                  Dolor, et officia. Natus perferendis molestiae voluptas? Eum
                  impedit eos nisi voluptates nemo consequatur ullam architecto,
                  assumenda similique esse provident dolorum sed rerum laborum,
                  aliquid quis voluptas, officia incidunt. Perspiciatis!
                </p>
                <button class="btn btn-primary">Itaque.</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Doloremque, perferendis tenetur.</h3>
                <p>
                  Ducimus, nostrum! Culpa suscipit sed sint odit minima
                  repudiandae possimus! Voluptas maxime, ducimus saepe porro
                  voluptate at dolorum aliquid dolor eum, deleniti pariatur
                  delectus excepturi. Aliquam veniam eligendi molestias
                  repellendus.
                </p>
                <button class="btn btn-primary">Fugit.</button>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 p-3">
            <div class="card">
              <div class="card-body">
                <h3>Doloribus, tempora sequi.</h3>
                <p>
                  Reprehenderit praesentium tempora recusandae provident,
                  ratione obcaecati debitis sunt eius. Consectetur dolorum
                  consequuntur molestias dignissimos nisi. Eos quod debitis, ad
                  blanditiis amet officiis hic quia quam atque dolore, assumenda
                  adipisci!
                </p>
                <button class="btn btn-primary">Debitis!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
