<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tags in html</title>
    <style>
        html{
            color-scheme: light dark;
        }
        body{
            font-family: sans-serif;
            font-size: 1.3rem;
            line-height: 1.5;
            width: 75ch;
            margin: 5rem auto;
        }
    </style>
  </head>
  <body>
    <header>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
      laboriosam necessitatibus molestias dignissimos, omnis eaque quo eos
      inventore sed ut eius harum debitis repellat sint aliquam ipsam sapiente
      accusamus optio.
    </header>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
      facilis quod, earum tempora porro incidunt fugit voluptatum sit ut, veniam
      optio quaerat sint molestias nihil doloremque fugiat veritatis? Molestias,
      unde.
    </div>
    <footer>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores ipsam
      repudiandae sit? Consequatur quaerat repudiandae fuga dolor sint dolorem!
      Officia quo amet totam ratione voluptas, veniam similique fuga enim quod?
    </footer>
    <nav>
      <ul>
        <li>Lorem.</li>
        <li>Saepe!</li>
        <li>Vitae?</li>
        <li>Minus?</li>
        <li>Possimus?</li>
      </ul>
    </nav>
    <section>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
      recusandae laudantium commodi provident necessitatibus saepe, a officia
      consectetur sit magni doloremque? Est earum perspiciatis eum quaerat
      suscipit voluptas laborum molestiae.
    </section>
    <section>
      Similique ratione consequuntur iste. Modi eius tenetur maxime incidunt
      libero aliquid perferendis neque minima, ipsa, amet ullam, sunt
      repellendus eum deserunt doloremque quaerat molestiae error. Maiores
      veritatis dolor voluptates minus!
    </section>
    <section>
      Repellendus esse provident distinctio odit voluptatibus perspiciatis error
      dolores, voluptatum, autem ea minima suscipit. Aspernatur, dolores
      cupiditate accusantium rerum quae optio voluptatem iste atque quis, nisi
      dolorum possimus ab quas!
    </section>
    <!-- Formatting tags-->
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>
      <strong>Lorem ipsum dolor</strong>, sit amet consectetur adipisicing elit.
      Fugiat commodi iure animi nobis. <u>Cupiditate, incidunt quos.</u> Amet
      consequatur, nulla expedita nemo sunt illo eos a unde fugiat. In, dolor
      et?
    </p>
    <div>
      <details>
        <summary>Alt+Shift+f</summary>
        <p>formatting the html pages</p>
      </details>
      <details>
        <summary>Ctrl+Shift+p</summary>
        <p>show setting preference</p>
      </details>
      <details>
        <summary>Atl+Shift+⬇️</summary>
        <p>Duplicate the lines, based on where the cursor in</p>
      </details>
      <details>
        <summary>Emmet abbriations</summary>
        <p>Lern from the official website</p>
      </details>
      <details>
        <summary>Ctrl+B</summary>
        <p>open close side pannel in vsCode</p>
      </details>
      <details>
        <summary>Ctrl+j</summary>
        <p>open close button pannel in vsCode</p>
      </details>
    </div>
    <div>
      <table border="1" width="50%">
        <thead>
          <tr>
            <th colspan="4">Purchased Item</th>
          </tr>
          <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>Qty</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Flour</td>
            <td>5</td>
            <td>160</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Socks</td>
            <td>2</td>
            <td>40</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Salt</td>
            <td>3</td>
            <td>90</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">Total</td>
            <td>290</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <blockquote>"This is Sparta"-King Leonidas</blockquote>
    <pre>
        <code>
            def hello():
                print("Hello World")
        </code>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Harum, recusandae, ex veritatis similique molestiae deserunt molestias velit eligendi, a neque corrupti suscipit inventore voluptatibus quibusdam sit perferendis doloribus officiis dolore.
    </pre
    >
  </body>
</html>
